# 编译产物
loglite
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试
*.test
*.out
coverage.txt

# 依赖
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# 数据目录
data/
*.db

# 日志
*.log

# 系统文件
.DS_Store
Thumbs.db
loglite_project.md
